.details {
  width: 100%;
  min-height: 100px;
  padding-top: 18px;
  background: linear-gradient(#00000000, #000000cc, #000000ee);
}

.details-content {
  padding: 14px;
}

.details-content .title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.details-content .poster {
  font-size: 12px;
  margin-top: 12px;
}

.details-content .poster b {
  color: #24F68C;
}
